*, html {
  box-sizing: border-box;
}

  body {
  width: 100%;
  margin: 0px;
  font-size: 20px;
  position: absolute;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 15px;
  line-height: 23px;
}

.bheader {
  background-color: #009587;
  border-bottom: 1px solid #599FBB;
  height: 65px;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-size: 130%;
  overflow: hidden;
}

img {
  height: 40px;
  width: auto;
  margin: 12px 0 45px 80px;
}

.navul {
  display: inline-block;
  list-style-type: none;
  font-weight: 500;
  margin-right: 10%;
  margin-top: 2px;
  border-left: 1px solid #5C9DB7;
  border-right: 1px solid #5C9DB7;
  padding: 18px 0;
  float: right;
}

.navul a {
  color: #FAFAFA;
  text-decoration: none;
  text-transform: uppercase;
  padding: 3px 20px 16px 20px;
}

.navul a:active, .navul a:focus, .navul a:hover {
  background-color: #E7E7E7;
  padding: 3px 20px 16px 20px;
}